## Dictionaries

In [ ]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [3]:
student = {"name": "John", "age": 20, "courses": ["Math", "Science"]}
print(type(student))
print(student)

<class 'dict'>
{'name': 'John', 'age': 20, 'courses': ['Math', 'Science']}

In [ ]:
#error
# single key is always used
student = {"name": "John", "age": 20, "name": ["Math", "Science"]}
print(student)

{'name': ['Math', 'Science'], 'age': 20}

In [18]:
# accessing dictionary values
student = {"name": "John", "age": 20, "courses": ["Math", "Science"]}
print(student["name"])
print(student["age"])
print(student["courses"])

# accessing using get method
print(student.get("name"))
print(student.get("age"))
print(student.get("courses"))
print(student.get("address", "Not Available"))  # default value if key not found

# modifying dictionary elements
student["age"] = 24
print(student)

# adding new key-value pairs
student["grade"] = "A"
print(student)

# deleting dictionary elements
del student["age"]
print(student)
student.pop("courses")
print(student)

John
20
['Math', 'Science']
John
20
['Math', 'Science']
Not Available
{'name': 'John', 'age': 24, 'courses': ['Math', 'Science']}
{'name': 'John', 'age': 24, 'courses': ['Math', 'Science'], 'grade': 'A'}
{'name': 'John', 'courses': ['Math', 'Science'], 'grade': 'A'}
{'name': 'John', 'grade': 'A'}

In [21]:
student = {
    "name": "John Doe",
    "age": 25,
    "courses": ["Math", "Science"],
    "address": {
        "street": "123 Main St",
        "city": "Anytown",
        "state": "CA"
    }
}
print(student["address"]["city"])  # accessing nested dictionary value
print(student.get("address").get("state"))  # using get method for nested dictionary

# using keys and values methods
print(student.keys())  # returns a view object of the dictionary's keys
print(student.values())  # returns a view object of the dictionary's values

# using items method
print(student.items())  # returns a view object of the dictionary's key-value pairs

Anytown
CA
dict_keys(['name', 'age', 'courses', 'address'])
dict_values(['John Doe', 25, ['Math', 'Science'], {'street': '123 Main St', 'city': 'Anytown', 'state': 'CA'}])
dict_items([('name', 'John Doe'), ('age', 25), ('courses', ['Math', 'Science']), ('address', {'street': '123 Main St', 'city': 'Anytown', 'state': 'CA'})])

In [27]:
# using shallow copy
student
student_copy = student.copy()
print(student_copy)

{'name': 'Jane Doe', 'age': 25, 'courses': ['Math', 'Science'], 'address': {'street': '123 Main St', 'city': 'Anytown', 'state': 'CA'}}

In [28]:
student["name"] = "pink panther"
print(student)  # modified dictionary reflects the change
print(student_copy)  # original dictionary remains unchanged

{'name': 'pink panther', 'age': 25, 'courses': ['Math', 'Science'], 'address': {'street': '123 Main St', 'city': 'Anytown', 'state': 'CA'}}
{'name': 'Jane Doe', 'age': 25, 'courses': ['Math', 'Science'], 'address': {'street': '123 Main St', 'city': 'Anytown', 'state': 'CA'}}

In [29]:
# iterating through a dictionary
for key, value in student.items():
    print(f"{key}: {value}")

name: pink panther
age: 25
courses: ['Math', 'Science']
address: {'street': '123 Main St', 'city': 'Anytown', 'state': 'CA'}

In [30]:
# iterate through keys
for key in student.keys():
    print(key)

name
age
courses
address

In [31]:
# iterate through values
for value in student.values():
    print(value)

pink panther
25
['Math', 'Science']
{'street': '123 Main St', 'city': 'Anytown', 'state': 'CA'}

In [33]:
# nested dictionary
students = {
    "student1": {"name": "Alice", "age": 22},
    "student2": {"name": "Bob", "age": 23},
    "student3": {"name": "Charlie", "age": 24}
}
print(students)

{'student1': {'name': 'Alice', 'age': 22}, 'student2': {'name': 'Bob', 'age': 23}, 'student3': {'name': 'Charlie', 'age': 24}}

In [35]:
# access nested dictionary values
print(students["student1"]["name"])  # accessing nested dictionary value
print(students.get("student2").get("age"))  # using get method for nested dictionary

Alice
23

In [37]:
# iterating over nested dictionary
for student_id, student_info in students.items():
    print(f"{student_id}: {student_info}")
    for key, value in student_info.items():
        print(f"  {key}: {value}")

student1: {'name': 'Alice', 'age': 22}
  name: Alice
  age: 22
student2: {'name': 'Bob', 'age': 23}
  name: Bob
  age: 23
student3: {'name': 'Charlie', 'age': 24}
  name: Charlie
  age: 24

In [39]:
# dictionary comprehension
squares = {x: x**2 for x in range(5)}
print(squares)  # prints {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [40]:
# conditional dictionary comprehension
squares_even = {x: x**2 for x in range(10) if x % 2 == 0}
print(squares_even)  # prints {0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [41]:
# use a dictionary to count the frequency of elements in a list
elements = ["apple", "banana", "apple", "orange", "banana", "apple"]
frequency = {}
for element in elements:
    if element in frequency:
        frequency[element] += 1
    else:
        frequency[element] = 1
print(frequency)  # prints {'apple': 3, 'banana': 2, 'orange': 1}

{'apple': 3, 'banana': 2, 'orange': 1}

In [42]:
elements = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,7,7,7,7,7,8,8,8,8,8]
frequency = {}
for element in elements:
    if element in frequency:
        frequency[element] += 1
    else:
        frequency[element] = 1
print(frequency)  # prints frequency of each element in the list

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 5, 7: 5, 8: 5}

In [43]:
# merge two dictionaries into one
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)  # prints {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Tuples

In [45]:
# creating a tuple
tuple1 = (1, 2, 3)
print(tuple1)  # prints (1, 2, 3)
print(type(tuple1))  # prints <class 'tuple'>

(1, 2, 3)
<class 'tuple'>

In [1]:
lst = list()
print(type(lst))  # prints <class 'list'>
tpl = tuple()
print(type(tpl))  # prints <class 'tuple'>

<class 'list'>
<class 'tuple'>

In [2]:
numbers = tuple([1, 2, 3, 4, 5])
print(numbers)  # prints (1, 2, 3, 4, 5)
print(type(numbers))  # prints <class 'tuple'>

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
list({1,2,3,4,5})  # converting a set to a list

[1, 2, 3, 4, 5]

In [4]:
mixed_tuple = (1, "apple", 3.14, True)
print(mixed_tuple)  # prints (1, 'apple', 3.14,
print(type(mixed_tuple))  # prints <class 'tuple'>

(1, 'apple', 3.14, True)
<class 'tuple'>

In [ ]:
# Accessing tuple elements
tuple_example = (1, 2, 3, 4, 5)
print(tuple_example[0])  # prints 1
print(tuple_example[1])  # prints 2
print(tuple_example[2])  # prints 3
print(tuple_example[3])  # prints 4
print(tuple_example[4])  # prints 5
print(tuple_example[-1])  # prints 5 (last element)
# Accessing tuple elements using slicing
print(tuple_example[1:3])  # prints (2, 3)
print(tuple_example[:3])  # prints (1, 2, 3)
print(tuple_example[2:])  # prints (3, 4, 5)
print(tuple_example[::-1])  # prints reverse order (5, 4, 3, 2, 1)

1
2
3
4
5
5
(2, 3)
(1, 2, 3)
(3, 4, 5)
(5, 4, 3, 2, 1)

In [11]:
concatenation_tuple = numbers + mixed_tuple # concatenating two tuples
print(concatenation_tuple)  # prints (1, 2, 3, 4, 5, 1, 'apple', 3.14, True)

(1, 2, 3, 4, 5, 1, 'apple', 3.14, True)

In [12]:
mixed_tuple * 3

(1, 'apple', 3.14, True, 1, 'apple', 3.14, True, 1, 'apple', 3.14, True)

In [14]:
# Immutability of tuples

# Tuples are immutable, meaning their elements cannot be changed after creation

lst = [1, 2, 3, 4, 5]
print(lst)  # prints [1, 2, 3, 4, 5]

lst[1] = "KeyError"
print(lst)  # prints [1, 'KeyError', 3, 4, 5]

numbers = (1, 2, 3, 4, 5)
try:
    numbers[1] = "KeyError"
except TypeError as e:
    print(f"Error: {e}")
# Tuples can be used as keys in dictionaries

[1, 2, 3, 4, 5]
[1, 'KeyError', 3, 4, 5]
Error: 'tuple' object does not support item assignment

In [19]:
# Tuple Methods
print(numbers)
print(numbers.count(1))
print(numbers.index(3))

(1, 2, 3, 4, 5)
1
2

In [21]:
# packing a tuple
packed_tuple = 1, 2, 3
print(packed_tuple)  # prints (1, 2, 3)

# unpacking a tuple
a, b, c = packed_tuple
print(a)  # prints 1
print(b)  # prints 2
print(c)  # prints 3

#unpacking with asterisk
numbers = (1, 2, 3, 4, 5, 6)
a, *b, c = numbers
print(a)  # prints 1
print(b)  # prints [2, 3, 4, 5]
print(c)  # prints 6

(1, 2, 3)
1
2
3
1
[2, 3, 4, 5]
6

## Function Syntax

In [22]:
def function_name(parameters):
    """ Docstring for the function """
    # function body
    return expression

In [24]:
#why fn
num = 11
if num %2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [26]:
def even_or_odd(num):
    """ Check if a number is even or odd """
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"
    
print(even_or_odd(10))  # returns "Even"
print(even_or_odd(11))  # returns "Odd"

Even
Odd

In [27]:
even_or_odd(24)

'Even'

In [35]:
# default parameters
def greet(name="Guest"):
    """ Greet the user with a default name """
    return f"Hello, {name}! Welcome to the Python world."

print(greet("Alice"))

Hello, Alice! Welcome to the Python world.

In [36]:
# variable length arguments
# positional and keyword arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [39]:
print_numbers(1, 2, 3, 4, 5, 6, 7, "Yuvraj")  # prints each number on a new line

1
2
3
4
5
6
7
Yuvraj

In [40]:
# keywords arguments
def print_info(name, age, **kwargs):
    """ Print name, age and additional information """
    print(f"Name: {name}, Age: {age}")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [41]:
print_info("Alice", 30, city="New York", occupation="Engineer")  # prints name, age and additional info

Name: Alice, Age: 30
city: New York
occupation: Engineer

In [42]:
## keyword arguments
def print_details(**kwargs):
    """ Print details from keyword arguments """
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [43]:
print_details(name="Yuvraj", age=25, city="Jamshedpur",country="India" , occupation="Developer")  # prints each key-value pair

name: Yuvraj
age: 25
city: Jamshedpur
country: India
occupation: Developer

In [ ]:
def print_details(*args,**kwargs):
    """ Print details from keyword arguments """
    for val in args:
        print(f"Positional Argument :{val}")
        
    for key, value in kwargs.items():
        print(f"Keyword Argument :{key}: {value}")

In [45]:
print_details(1, 2, 3, 4, 5, 6, 7, "Yuvraj", name="Yuvraj", age=25, city="Jamshedpur",country="India" , occupation="Developer")

Positional Argument :1
Positional Argument :2
Positional Argument :3
Positional Argument :4
Positional Argument :5
Positional Argument :6
Positional Argument :7
Positional Argument :Yuvraj
Keyword Argument :name: Yuvraj
Keyword Argument :age: 25
Keyword Argument :city: Jamshedpur
Keyword Argument :country: India
Keyword Argument :occupation: Developer

In [46]:
# return statement

def multiply(a, b):
    """ Multiply two numbers and return the result """
    return a * b

multiply(2,3) # returns a*b

6

In [ ]:
# return multiple parameters from the fn
def multiply(a, b):
    """ Multiply two numbers and return the result """
    return a * b, a

multiply(2,3) # returns a*b

(6, 2)

## Functions Examples

In [55]:
def convert_temperature(temp,unit):
    """ This function converts temperature from Celsius to Fahrenheit or vice versa """
    if unit == "C":
        return (temp * 9/5) + 32
    elif unit == "F":
        return (temp - 32) * 5/9
    else:
        raise ValueError("Invalid unit. Use 'C' for Celsius or 'F' for Fahrenheit.")

In [56]:
convert_temperature(25,"C")

77.0

In [ ]:
# password strength checker
def check_password_strength(password):
    """ Check the strength of a password """
    if len(password) < 8:
        return "Weak: Password must be at least 8 characters long."
    
    if not any(char.isdigit() for char in password):
        return "Weak: Password must contain at least one digit."
    
    if not any(char.islower() for char in password):
        return "Weak: Password must contain at least one lowercase letter."
    
    if not any(char.isupper() for char in password):
        return "Weak: Password must contain at least one uppercase letter."
    
    if not any(char in "!@#$%^&*()-_=+[]{}|;:',.<>?/" for char in password):
        return "Weak: Password must contain at least one special character."
    
    return "Strong: Password meets all criteria."

print(check_password_strength("Password123!"))
print(check_password_strength("weakpass"))

Strong: Password meets all criteria.
Weak: Password must contain at least one digit.

In [58]:
# calc total cost of items in a shopping cart
def calculate_total_cost(cart):
    """ Calculate the total cost of items in a shopping cart"""
    total_cost = 0
    for item in cart:
        total_cost += item['price'] * item['quantity']
    return total_cost
cart = [
    {"name": "apple", "price": 0.5, "quantity": 4},
    {"name": "banana", "price": 0.3, "quantity": 6},
    {"name": "orange", "price": 0.8, "quantity": 3}
]
print(f"Total cost of items in the cart: ${calculate_total_cost(cart):.2f}")  # prints total cost of items in the cart

Total cost of items in the cart: $6.20

In [63]:
# check if a number is palindrome
def is_palindrome(s):
    """ Check if a string is a palindrome """
    s = s.lower().replace(" ", "")
    return s == s[::-1]


print(is_palindrome("racecar"))  # returns True
print(is_palindrome("hello"))  # returns False

True
False

In [60]:
# calculate factorial of a number using recursion
def factorial(n):
    """ Calculate the factorial of a number using recursion """
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))  # returns 120

120

In [64]:
# function to read a file and count the frequency of each word
def count_word_frequency(file_path):
    """ Count the frequency of each word in a file """
    word_count = {}
    with open(file_path, 'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:"\'')
                word_count[word] = word_count.get(word, 0) + 1
    return word_count

filepath = 'sample.txt'  
word_frequency = count_word_frequency(filepath)
print(word_frequency)

{'hello': 1, 'my': 1, 'name': 1, 'is': 2, 'yuvraj': 3, 'an': 1, 'engineer': 1, 'lives': 1, 'to': 1, 'code': 1, 'and': 1, 'become': 1, 'successful': 1}

In [65]:
# email validation function
import re
def is_valid_email(email):
    """ Validate an email address using regex """

    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None

print(is_valid_email("test@example.com"))
print(is_valid_email("invalid-email"))  # returns False

True
False

## Lambda functions

In [66]:
# syntax for lambda functions
lambda arguments: expression

In [67]:
def add(x, y):
    """ Add two numbers using a lambda function """
    return x + y

In [68]:
add(2, 3)  # returns 5

5

In [69]:
# to write the same but using lambda function
addition = lambda x, y: x + y
type(addition)

function

In [70]:
print(addition(5,6))

11

In [71]:
# lambda: args : operation

def even_or_odd(num):
    """ Check if a number is even or odd using lambda function """
    if num % 2 == 0:
        return True
    else:
        return False
    
even_or_odd(10)  # returns True
even_or_odd(11)  # returns False

False

In [72]:
even_or_odd = lambda num: num % 2 == 0

print(even_or_odd(10))  # returns True
print(even_or_odd(11))  # returns False

True
False

In [74]:
square = lambda num: num ** 2
print(square(5))  # returns 25

25

In [75]:
# lambda to check prime number
is_prime = lambda num: num > 1 and all(num % i != 0 for i in range(2, int(num**0.5) + 1))

print(is_prime(11))  # returns True
print(is_prime(15))  # returns False

True
False

In [77]:
# lambda to write prime numbers between 2 number
prime_numbers = lambda start, end: [num for num in range(start, end + 1) if is_prime(num)]
print(prime_numbers(10, 20))  # returns prime numbers between 10 and 20
print(prime_numbers(1, 100))

[11, 13, 17, 19]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# map() - applies a function to all items in an iterable (like a list) and returns a map object (which is an iterator)
# map(function, iterable)
numbers = [1, 2, 3, 4, 5]

def square(x):
    return x ** 2

print(square(2))

squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)

4
[1, 4, 9, 16, 25]

# Map Function

In [81]:
def cube(x):
    return x ** 3

print(cube(2))

8

In [82]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
list(map(cube, numbers))  # returns a list of cubes of the numbers
# list(map(lambda x: x ** 3, numbers))

[1, 8, 27, 64, 125, 216, 343, 512]

In [83]:
# lambda function with map
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
list(map(lambda x: x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [85]:
# Map Multiple iterables

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
added_numbers = list(map(lambda x, y: x + y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [86]:
# map() to convert a list of strings to integers
string_numbers = ["1", "2", "3", "4", "5"]
int_numbers = list(map(int, string_numbers))

print(int_numbers)  # returns [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [87]:
words = ["apple", "banana", "cherry"]
uppercase_words = list(map(str.upper, words))
print(uppercase_words)  # returns ['APPLE', 'BANANA', 'CHERRY']

['APPLE', 'BANANA', 'CHERRY']

In [89]:
def get_name(person):
    """ Get the name of a person """
    return person["name"], person["age"]
people = [{"name": "Yuvraj", "age": 25}, {"name": "Bob","age": 26}, {"name": "Charlie", "age": 27}]

list(map(get_name, people))

[('Yuvraj', 25), ('Bob', 26), ('Charlie', 27)]

# Filter Function in Python

In [100]:
# filter(fn, iterable)
even = lambda x: x % 2 == 0
numbers= [1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(even, numbers))

[2, 4, 6, 8, 10, 12]

In [ ]:
# filter() function greater than 5

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
greater_than_five = list(filter(lambda x: x > 5, numbers))
print(greater_than_five)  # returns [6, 7, 8, 9, 10]

[6, 7, 8, 9, 10]

In [102]:
# filter with lambda fn and multiple conditions
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_and_greater_than_five = list(filter(lambda x: x % 2 == 0 and x > 5, numbers))
print(even_and_greater_than_five)

[6, 8, 10]

In [103]:
# filter to check if the age is greater than 25 in dictionary
people = [
    {"name": "Alice", "age": 24},
    {"name": "Bob", "age": 26},
    {"name": "Charlie", "age": 27}
]
adults = list(filter(lambda person: person["age"] > 25, people))
print(adults)

[{'name': 'Bob', 'age': 26}, {'name': 'Charlie', 'age': 27}]

# Challanges DSA


# Function to return a square pattern of '*' of side n as a list of strings.

Parameters:
n (int): The size of the square.

Returns:
list: A list of strings where each string represents a row of the square.

Input: 3
Output: ['***', '***', '***']
 
Input: 5
Output: ['*****', '*****', '*****', '*****', '*****']

In [107]:
def generate_square(n):
    return ["*" * n for _ in range(n)]

generate_square(5)

['*****', '*****', '*****', '*****', '*****']

## Function to return a hollow square pattern of '*' of side n as a list of strings.
    
Parameters:
n (int): The size of the square.

Returns:
list: A list of strings where each string represents a row of the hollow square. 

Input: 3
Output: ['***', '* *', '***']
 
Input: 5
Output: ['*****', '*   *', '*   *', '*   *', '*****']

In [112]:
def generate_triangle(n):
    return ["*" * (i+1) for i in range(n)]

generate_triangle(5)

['*', '**', '***', '****', '*****']

## Function to return a rectangle pattern of '*' with length n and breadth m as a list of strings.

Parameters:
n (int): The number of rows in the rectangle.
m (int): The number of columns in the rectangle.

Returns:
list: A list of strings where each string represents a row of the rectangle pattern.

Input: n = 4, m = 5
Output: ['*****', '*****', '*****', '*****']
 
Input: n = 3, m = 2
Output: ['**', '**', '**']

In [113]:
def generate_hollow_square(n):
    square = []
    for i in range(n):
        if i == 0 or i == n - 1:
            square.append("*" * n)
        else:
            square.append("*" + " " * (n - 2) + "*")
    return square

generate_hollow_square(5)
generate_hollow_square(7)

['*******', '*     *', '*     *', '*     *', '*     *', '*     *', '*******']

## Function to return a right-angled triangle of '*' of side n as a list of strings.
    
Parameters:
n (int): The height and base of the triangle.

Returns:
list: A list of strings where each string represents a row of the triangle.

Input: 3
Output: ['*', '**', '***']
 
Input: 5
Output: ['*', '**', '***', '****', '*****']

In [114]:
def generate_triangle(n):
    """
    Function to return a right-angled triangle of '*' of side n as a list of strings.
    
    Parameters:
    n (int): The height and base of the triangle.
    
    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    return ['*' * (i + 1) for i in range(n)]
generate_triangle(5)

['*', '**', '***', '****', '*****']

## Function to return an inverted right-angled triangle of '*' of side n as a list of strings.

Parameters:
n (int): The height and base of the triangle.

Returns:
list: A list of strings where each string represents a row of the triangle.

Input: 3
Output: ['***', '**', '*']
 
Input: 5
Output: ['*****', '****', '***', '**', '*']

In [116]:
def generate_inverted_triangle(n):
    """
    Function to return an inverted right-angled triangle of '*' of side n as a list of strings.
    
    Parameters:
    n (int): The height and base of the triangle.
    
    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    return ['*' * i for i in range(n,0,-1)]
generate_inverted_triangle(5)

['*****', '****', '***', '**', '*']

# Function to return a pyramid pattern of '*' of side n as a list of strings.

Parameters:
n (int): The number of rows in the pyramid.

Returns:
list: A list of strings where each string represents a row of the pyramid.

Input: 3
Output: ['  *  ', ' *** ', '*****']
 
Input: 5
Output: ['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [1]:
def generate_pyramid(n):
    """
    Function to return a pyramid pattern of '*' of side n as a list of strings.
    
    Parameters:
    n (int): The number of rows in the pyramid.
    
    Returns:
    list: A list of strings where each string represents a row of the pyramid.
    """
    # Your code here
    return [' ' * (n - i) + '*' * (2 * i - 1) + ' ' * (n - i) for i in range(1, n + 1)]

generate_pyramid(5)

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

# Function to return an inverted pyramid pattern of '*' of side n as a list of strings.

Parameters:
n (int): The number of rows in the inverted pyramid.

Returns:
list: A list of strings where each string represents a row of the inverted pyramid.

Input: 3
Output: ['*****', ' *** ', '  *  ']
 
Input: 5
Output: ['*********', ' ******* ', '  *****  ', '   ***   ', '    *    ']

In [4]:
def generate_inverted_pyramid(n):
    return [' ' * ( n - i) + '*' * (2 * i - 1) + ' ' * ( n - i) for i in range(n, 0, -1)]

# generate_inverted_pyramid(3)
generate_inverted_pyramid(5)

['*********', ' ******* ', '  *****  ', '   ***   ', '    *    ']

# Function to return a right-angled triangle of repeated numbers of side n as a list of strings.

Parameters:
n (int): The height of the triangle.

Returns:
list: A list of strings where each string represents a row of the triangle.

Input: 5
Output: ['1', '22', '333', '4444', '55555']
 
Input: 3
Output: ['1', '22', '333']

In [6]:
def generate_number_triangle(n):
    """
    Function to return a right-angled triangle of repeated numbers of side n as a list of strings.
    
    Parameters:
    n (int): The height of the triangle.
    
    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    return [str(i)* i for i in range(1,n+1)]

generate_number_triangle(5)

['1', '22', '333', '4444', '55555']

# Function to return the first n rows of Floyd's Triangle as a list of strings.

Parameters:
n (int): The number of rows in the triangle.

Returns:
list: A list of strings where each string represents a row of Floyd's Triangle.

Input: 5
Output: ['1', '2 3', '4 5 6', '7 8 9 10', '11 12 13 14 15']
 
Input: 3
Output: ['1', '2 3', '4 5 6']

In [7]:
def generate_floyd_triangle(n):
    """
    Function to return Floyd's triangle of side n as a list of strings.
    
    Parameters:
    n (int): The height of the triangle.
    
    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    num = 1
    triangle = []
    for i in range(1, n + 1):
        row = ' '.join(str(num + j) for j in range(i))
        triangle.append(row)
        num += i
    return triangle

generate_floyd_triangle(5)

['1', '2 3', '4 5 6', '7 8 9 10', '11 12 13 14 15']

# Function to return a diamond pattern of '*' of side n as a list of strings.

Parameters:
n (int): The number of rows for the upper part of the diamond.

Returns:
list: A list of strings where each string represents a row of the diamond.
Input: 3
Output: ['  *  ', ' *** ', '*****', ' *** ', '  *  ']
 
Input: 5
Output: ['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********', ' ******* ', '  *****  ', '   ***   ', '    *    ']

In [12]:
def generate_diamond(n):
    """
    Function to return a diamond pattern of '*' of side n as a list of strings.
    
    Parameters:
    n (int): The number of rows for the upper part of the diamond.
    
    Returns:
    list: A list of strings where each string represents a row of the diamond.
    """
    diamond = []
    width = 2 * n - 1  # Total width of the diamond

    # Upper part
    for i in range(1, n + 1):
        stars = '*' * (2 * i - 1)
        diamond.append(stars.center(width))

    # Lower part
    for i in range(n - 1, 0, -1):
        stars = '*' * (2 * i - 1)
        diamond.append(stars.center(width))

    return diamond


generate_diamond(5)

['    *    ',
 '   ***   ',
 '  *****  ',
 ' ******* ',
 '*********',
 ' ******* ',
 '  *****  ',
 '   ***   ',
 '    *    ']

# Function to return a right-angled triangle of '*' of side n as a list of strings.

Parameters:
n (int): The height of the triangle.

Returns:
list: A list of strings where each string represents a row of the triangle.

Input: 4
Output: ['   *', '  **', ' ***', '****']
 
Input: 3
Output: ['  *', ' **', '***']

In [13]:
def generate_right_angled_triangle(n):
    """
    Function to return a right-angled triangle of '*' of side n as a list of strings.
    
    Parameters:
    n (int): The height of the triangle.
    
    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    return [(' ' * (n - i)) + ('*' * i) for i in range(1, n + 1)]

generate_right_angled_triangle(5)

['    *', '   **', '  ***', ' ****', '*****']

In [ ]:
# celsius to fahrenheit conversion
def celsius_to_fahrenheit(celsius):
    """
    Convert Celsius to Fahrenheit.
    
    Parameters:
    celsius (float): Temperature in Celsius.
    
    Returns:
    float: Temperature in Fahrenheit.
    """
    return (celsius * 9/5) + 32

In [ ]:
def area_of_rectangle(length, breadth):
    """
    Function to calculate the area of a rectangle.
    
    Parameters:
    length (float): The length of the rectangle.
    breadth (float): The breadth of the rectangle.
    
    Returns:
    float: The area of the rectangle.
    """
    # Your code here
    return length * breadth

In [17]:
def generate_square(n):
   
    return ["*" * n for _ in range(n)]

generate_square(3)

['***', '***', '***']

In [20]:
def generate_triangle(n):
    return ['*' * (i) for i in range(1,n+1)]

generate_triangle(5)

['*', '**', '***', '****', '*****']

In [23]:
def pyramid_triangle(n):
    return [" " * (n -i) + "*" * ( 2 * i - 1) + " " * (n - i) for i in range(1, n + 1)]

pyramid_triangle(7)

['      *      ',
 '     ***     ',
 '    *****    ',
 '   *******   ',
 '  *********  ',
 ' *********** ',
 '*************']

In [25]:
def inverted_pyramid(n):
    return [' ' * (n -i) + '*' * (2 * i - 1) + ' ' * ( n - i) for i in range(n, 0, -1)]

inverted_pyramid(7)

['*************',
 ' *********** ',
 '  *********  ',
 '   *******   ',
 '    *****    ',
 '     ***     ',
 '      *      ']

In [26]:
def number_triangle(n):
    return [str(i) * i for i in range(1,n+1)]

In [27]:
number_triangle(5)

['1', '22', '333', '4444', '55555']

In [29]:
number_triangle(9)

['1',
 '22',
 '333',
 '4444',
 '55555',
 '666666',
 '7777777',
 '88888888',
 '999999999']

In [31]:
def floyd_triangle(n):
    num = 1
    triangle = []
    for i in range(1, n + 1):
        row = ' '.join(str(num + j) for j in range(i))
        triangle.append(row)
        num += i
    return triangle

floyd_triangle(11)

['1',
 '2 3',
 '4 5 6',
 '7 8 9 10',
 '11 12 13 14 15',
 '16 17 18 19 20 21',
 '22 23 24 25 26 27 28',
 '29 30 31 32 33 34 35 36',
 '37 38 39 40 41 42 43 44 45',
 '46 47 48 49 50 51 52 53 54 55',
 '56 57 58 59 60 61 62 63 64 65 66']